* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(33, 155, 231);
  color: #fff;
  height: 100vh;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  margin-top: 10px;
  font-size: 60px;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
