* {
  box-sizing: border-box;
}

body {
  background-color: rgb(243, 167, 255);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  background-color: rgb(186, 109, 198);
  border-radius: 5px;
  border: none;
  color: #fff;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(158, 96, 168);
}

.btn:focus {
  outline: none;
}
